@font-face {
    font-family: 'Comic Relief';
    src: url('../fonts/ComicRelief-Bold.woff2') format('woff2'),
        url('../fonts/ComicRelief-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comic Relief';
    src: url('../fonts/ComicRelief-Regular.woff2') format('woff2'),
        url('../fonts/ComicRelief-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}